<div class="container mt-5">
 <div class=" card mp-3">
    <form action="/answer" data-turbo="false">
    <input type="text" name="message">
    <input type="submit" value="Ask!">
    </form>
 </div>
</div>
